# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries

### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [5]:
d = {i:i**2 for i in range (1,10)}
for i in d.items():
    print(i)

(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)
(6, 36)
(7, 49)
(8, 64)
(9, 81)

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [9]:
d = {i:i**2 for i in range (1,10)}
print(d[5])
print(d.get(11, "Key not found"))

25
Key not found

In [10]:
d = {i:i**2 for i in range (1,10)}
print(d.keys())

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9])

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [12]:
d = {i:i**2 for i in range (1,10)}
print(d)
d[11] = 121
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 11: 121}

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [22]:
d = {i:i**2 for i in range (1,10)}
for i,j in d.items():
    print(f"{i}:{j}", end=" | ")

1:1 | 2:4 | 3:9 | 4:16 | 5:25 | 6:36 | 7:49 | 8:64 | 9:81 |

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [23]:
d = {i:i**3 for i in range (1,10)}
print(d)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [24]:
d1 = {i:i**2 for i in range (1,6)}
d2 = {i:i**2 for i in range (6,11)}
d1.update(d2)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [27]:
d1 = {i:i**2 for i in range (1,6)}
d2 = {i:i**2 for i in range (6,11)}
d = d1 | d2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [28]:
d1 = {i:i**2 for i in range (1,6)}
d2 = {i:i**2 for i in range (6,11)}
d = {**d1, **d2}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [32]:
d = {
    's1' :{
        'name': 'Alice',
        'age': 24,
        'grade': {
            'math': 90,
            'science': 85,
            'english': 88
        }
    },
    's2' :{
        'name': 'Bob',
        'age': 22,
        'grade': {
            'math': 78,
            'science': 82,
            'english': 80
        }
    },
    's3' :{
        'name': 'Charlie',
        'age': 23,
        'grade': {
            'math': 85,
            'science': 87,
            'english': 90
        }
    }

}

print(d)

{'s1': {'name': 'Alice', 'age': 24, 'grade': {'math': 90, 'science': 85, 'english': 88}}, 's2': {'name': 'Bob', 'age': 22, 'grade': {'math': 78, 'science': 82, 'english': 80}}, 's3': {'name': 'Charlie', 'age': 23, 'grade': {'math': 85, 'science': 87, 'english': 90}}}

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [33]:
d = {}
for i in range(1,6):
    l = []
    while len(l) <= 5:
        l.append(i*len(l))
    d[i] = l
print(d)

{1: [0, 1, 2, 3, 4, 5], 2: [0, 2, 4, 6, 8, 10], 3: [0, 3, 6, 9, 12, 15], 4: [0, 4, 8, 12, 16, 20], 5: [0, 5, 10, 15, 20, 25]}

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [34]:
d = {}
for i in range(1,6):
    l = []
    while len(l) <= 5:
        l.append(i*len(l))
    d[i] = tuple(l)
print(d)

{1: (0, 1, 2, 3, 4, 5), 2: (0, 2, 4, 6, 8, 10), 3: (0, 3, 6, 9, 12, 15), 4: (0, 4, 8, 12, 16, 20), 5: (0, 5, 10, 15, 20, 25)}

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [36]:
d = {}
for i in range(1,6):
    l = []
    while len(l) <= 5:
        l.append(i*len(l))
    d[i] = tuple(l)
print(d)
print(tuple(d.items()))

{1: (0, 1, 2, 3, 4, 5), 2: (0, 2, 4, 6, 8, 10), 3: (0, 3, 6, 9, 12, 15), 4: (0, 4, 8, 12, 16, 20), 5: (0, 5, 10, 15, 20, 25)}
((1, (0, 1, 2, 3, 4, 5)), (2, (0, 2, 4, 6, 8, 10)), (3, (0, 3, 6, 9, 12, 15)), (4, (0, 4, 8, 12, 16, 20)), (5, (0, 5, 10, 15, 20, 25)))

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [41]:
d = {}
d_even = {}
for i in range(1,11):
    d[i] = i**2
print(d)
for i in d.keys():
    if i%2 ==0:
        d_even[i] = d[i]
print(d_even)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

In [46]:
d = {i:i**2 for i in range (1,10)}
print(d)
d_new = {}
for i in d.keys():
    d_new[d[i]]=i
print(d_new)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9}

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

In [52]:
d = {i:[] for i in range (1,10)}
print(d)
for i in d.keys():
    for j in range(5):
        d[i].append(j*i)
print(d)

{1: [], 2: [], 3: [], 4: [], 5: [], 6: [], 7: [], 8: [], 9: []}
{1: [0, 1, 2, 3, 4], 2: [0, 2, 4, 6, 8], 3: [0, 3, 6, 9, 12], 4: [0, 4, 8, 12, 16], 5: [0, 5, 10, 15, 20], 6: [0, 6, 12, 18, 24], 7: [0, 7, 14, 21, 28], 8: [0, 8, 16, 24, 32], 9: [0, 9, 18, 27, 36]}

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [53]:
def count_characters(s):
    d = {}
    sum = 0
    for char in s:
        sum += 1
    d[s] = sum
    return d
result = count_characters("hello world")
print(result)

{'hello world': 11}

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [54]:
import json
book = {
    "title": "The Great Gatsby",
    "author": "F. Scott Fitzgerald",
    "year_published": 1925,
    "genres": ["Novel", "Historical"],
    "available": True   
}
print(book)
book_json = json.dumps(book, indent=4)
print(book_json)

{'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'year_published': 1925, 'genres': ['Novel', 'Historical'], 'available': True}
{
    "title": "The Great Gatsby",
    "author": "F. Scott Fitzgerald",
    "year_published": 1925,
    "genres": [
        "Novel",
        "Historical"
    ],
    "available": true
}