# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [2]:
x = set(range(1, 11))
print("Set of integers from 1 to 10:", x)

Set of integers from 1 to 10: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [4]:
x = set(range(1, 11))
print("Set of integers from 1 to 10:", x)

x.add(11)
x.remove(1)
print("Modified set after adding 11 and removing 1:", x)

Set of integers from 1 to 10: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Modified set after adding 11 and removing 1: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [6]:
s1 = set(range(1, 6))
s2 = set()
i = 1
while True:
    if i%2==0:
        s2.add(i)
    if len(s2)==5:
        break
    i += 1
print("s1: ", s1)
print("s2: ", s2)
print("Union of s1 and s2:", s1.union(s2))
print("Intersection of s1 and s2:", s1.intersection(s2))
print("Difference of s1 and s2 (s1 - s2):", s1.difference(s2))
print("Difference of s2 and s1 (s2 - s1):", s2.symmetric_difference(s1))

s1:  {1, 2, 3, 4, 5}
s2:  {2, 4, 6, 8, 10}
Union of s1 and s2: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection of s1 and s2: {2, 4}
Difference of s1 and s2 (s1 - s2): {1, 3, 5}
Difference of s2 and s1 (s2 - s1): {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [7]:
x = set(range(1, 11))
print("Set of integers from 1 to 10:", x)
y = {i*i for i in x}
print("Set of squares of integers from 1 to 10:", y)

Set of integers from 1 to 10: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set of squares of integers from 1 to 10: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [8]:
x = set(range(1, 11))
print("Set of integers from 1 to 10:", x)

y = {i for i in x if i%2==0}
print("Set of even integers from 1 to 10:", y)

Set of integers from 1 to 10: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set of even integers from 1 to 10: {2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [9]:
s = {1, 2, 3, 4, 5, 1, 2, 3, 1, 1}
print("Original set:", s)

Original set: {1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [3]:
s1 = set(range(1,6))
s2 = set(range(1,4))
print(s1); print(s2)
print(s1.issubset(s2))
print(s2.issubset(s1))
print(s1.issuperset(s2))
print(s2.issuperset(s1))

{1, 2, 3, 4, 5}
{1, 2, 3}
False
True
True
False

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [5]:
fzs = frozenset(range(1, 6))
print("Frozen set:", fzs)
print("type of frozen set:", type(fzs))

Frozen set: frozenset({1, 2, 3, 4, 5})
type of frozen set: <class 'frozenset'>

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [6]:
s = set(range(1, 6))
lst = list(s)
lst.append(6)
s = set(lst)
print("Resulting set after conversion and modification:", s)

Resulting set after conversion and modification: {1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [8]:
dict = {
    {1,2,3}: "a",
    {4,5,6}: "b",    
    {7,8,9}: "c"
}

print(dict)

TypeError: unhashable type: 'set'

In [ ]:
# providing set values directly is not possible because sets are unhashable and cannot be used as keys in a dictionary.
dict = {
    '{1,2,3}': "a",
    '{4,5,6}': "b",    
    '{7,8,9}': "c"
}
print(dict)

{'{1,2,3}': 'a', '{4,5,6}': 'b', '{7,8,9}': 'c'}

In [10]:
# but we can able to use frozensets as keys in a dictionary as they are hashable.
dict = {
    frozenset({1,2,3}): "a",
    frozenset({4,5,6}): "b",    
    frozenset({7,8,9}): "c"
}
print(dict)

{frozenset({1, 2, 3}): 'a', frozenset({4, 5, 6}): 'b', frozenset({8, 9, 7}): 'c'}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [11]:
s = set(range(1, 6))
for i in s:
    print(i, end=' | ')

1 | 2 | 3 | 4 | 5 |

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [12]:
s = set(range(1, 6))
print(s)
while True:
    if len(s) == 0:
        break
    print(s.pop(), end=' | ')
    print("Set after pop:", s)

{1, 2, 3, 4, 5}
1 | Set after pop: {2, 3, 4, 5}
2 | Set after pop: {3, 4, 5}
3 | Set after pop: {4, 5}
4 | Set after pop: {5}
5 | Set after pop: set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [14]:
s1 = set(range(1, 6))
s2 = set(range(1, 4))
print("s1:", s1)
print("s2:", s2)
s1.symmetric_difference_update(s2)
print("symmetric_difference_update result:", s1)
print("after symmetric_difference_update, s2 remains unchanged:", s2)

s1: {1, 2, 3, 4, 5}
s2: {1, 2, 3}
symmetric_difference_update result: {4, 5}
after symmetric_difference_update, s2 remains unchanged: {1, 2, 3}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [16]:
s = set(range(1, 6))
l1 = [1,2,5,6,7]
for item in l1:
    if item in s:
        print(f"{item} is present in the set")
    else:
        print(f"{item} is not present in the set")

1 is present in the set
2 is present in the set
5 is present in the set
6 is not present in the set
7 is not present in the set

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [18]:
t1 = ('Mango', 'Banana', 'Grapes', 'Orange', 'Pinapal')
t2 = ('50rs', '30rs', '70rs', '100rs', '80rs')
t3 = zip(t1, t2)
print("Resulting set of tuples from zipping t1 and t2:")
print(set(t3))

Resulting set of tuples from zipping t1 and t2:
{('Pinapal', '80rs'), ('Banana', '30rs'), ('Grapes', '70rs'), ('Orange', '100rs'), ('Mango', '50rs')}