# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
t = (x for x in range(1,11))
print(tuple(t))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [8]:
tp = tuple(range(1,11))
first_element = tp[0]
middle_element = tp[len(tp)//2]
last_element = tp[-1]
print("First element:", first_element)
print("Middle element:", middle_element)
print("Last element:", last_element)

First element: 1
Middle element: 6
Last element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [13]:
tp = tuple(range(1,11))
print(tp[:3])
print(tp[-1:-4:-1])
print(tp[2:5])

(1, 2, 3)
(10, 9, 8)
(3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [14]:
tp = ((1,2,3),(4,5,6),(7,8,9))
print(tp)
print(tp[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [16]:
tp1 = (1,2,3)
tp2 = (4,5,6)
merged_tuple = tp1 + tp2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [18]:
tp = (1, 2, 3, 4, 5, 1,1,1,1,1,1,1,1)
count = tp.count(1)
index = tp.index(1)
print("Count of 1 in tuple:", count)
print("First index of 1 in tuple:", index)

Count of 1 in tuple: 9
First index of 1 in tuple: 0

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [19]:
tp = (1, 2, 3, 4, 5)
a,b,c,d,e = tp
print("Values after unpacking:")
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)

Values after unpacking:
a = 1
b = 2
c = 3
d = 4
e = 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [20]:
l1 = [1,2,3,4,5]
tp = tuple(l1)
print("Tuple converted from list:", tp)

Tuple converted from list: (1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [21]:
tp = ((1, 2, 3), (4, 5, 6), (7, 8, 9 ))
 
for sub_tuple in tp:
    print("Sub-tuple:", sub_tuple)

Sub-tuple: (1, 2, 3)
Sub-tuple: (4, 5, 6)
Sub-tuple: (7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [22]:
tp = (1,2,3,4,5)
tp_l = list(tp)
tp_l.append(6)
tp = tuple(tp_l)
print("Tuple after adding an element:", tp)

Tuple after adding an element: (1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [23]:
tp = ('h', 'e', 'l', 'l', 'o')
print("Original tuple:", tp)
print(''.join(tp))

Original tuple: ('h', 'e', 'l', 'l', 'o')
hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [25]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = (7,8,9)
d1 = {}
d1[t1] = 1
d1[t2] = 2
d1[t3] = 3
print("Dictionary with tuple keys:", d1)

Dictionary with tuple keys: {(1, 2, 3): 1, (4, 5, 6): 2, (7, 8, 9): 3}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [26]:
tp = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
for sub_tuple in tp:
    for item in sub_tuple:
        print(item, end=' ')
    print()

1 2 3
4 5 6
7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [27]:
tp = (1,2,3,4,5,6,7,8,9,10,1,1,1,1,1,1,1)
unique_elements = set(tp)
print("Unique elements in the tuple:", unique_elements)

Unique elements in the tuple: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [28]:
tp = (1, 2, 3, 4, 5)
print("Original tuple:", tp)
print("minimum value:", min(tp))
print("maximum value:", max(tp))
print("sum of all elements:", sum(tp))

Original tuple: (1, 2, 3, 4, 5)
minimum value: 1
maximum value: 5
sum of all elements: 15